{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": ".",
        "tarballDir": "."
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/**",
            "label": "Distribution Files"
          }
        ]
      }
    ]
  ]
}