{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": ".",
        "registry": "https://registry.npmjs.org/"
      }
    ],
    "@semantic-release/github"
  ]
}